<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    
    <%- include ("../partials/header.ejs") %>

    <div class="title-navbar">
      <div class="back-button">
        <button type=""><a href="/products/">Atras</a></button>
      </div>
      <h2 class="form-title">CREAR PRODUCTO</h2>
    </div>

    <main>
      <div class="principal-box">

        <!-- <div class="title">
            <h2 class="title-register">INGRESAR NUEVO PRODUCTO</h2>
        </div> -->

        <div class="content-box-register">
          <form method="post" action="/products/create" enctype="multipart/form-data">
            <div>
              <label for="nameProduct">Ingresar nombre</label>
              <input type="text" name="nameProduct" id="nameProduct" required>
            </div>
            <div class="desc-product">
              <label for="descProduct">Ingresar descripción</label>
              <input type="text" name="descProduct" id="descProduct" required>
            </div>
            <div>
              <label for="image">Ingresar imagen</label>
              <input type="file" name="image" id="image">
            </div>
            <div class="color-product">
              <label for="colorsProduct">Colores disponibles</label>
              <br>
              <select name="color" id="color">
                <% colors.forEach(color => { %>
                  <option value=<%= color.name %>><%= color.name %></option>
                <% }) %>

              </select>
            </div>
            <div class="size-product">
              <label for="sizeProduct">Talles</label>
              <br>
              <select name="talles" id="talles">
                <option value="36 (EUR 37)"> 36 (EUR 37) </option>
                <option value="37 (EUR 38)"> 37 (EUR 38) </option>
                <option value="38 (EUR 39)"> 38 (EUR 39) </option>
                <option value="39 (EUR 40)"> 39 (EUR 40) </option>
                <option value="40 (EUR 41)"> 40 (EUR 41) </option>
                <option value="41 (EUR 42)"> 41 (EUR 42) </option>
                <option value="42 (EUR 43)"> 42 (EUR 43) </option>
                <option value="43 (EUR 44)"> 43 (EUR 44) </option>
                <option value="44 (EUR 45)"> 44 (EUR 45) </option>
                <option value="45 (EUR 46)"> 45 (EUR 46) </option>
              </select>
            </div>
            <div>
              <label for="brandProduct">Marca</label>
              <input type="text" name="brandProduct" id="brandProduct">
            </div>
            <div>
              <label for="categoryProduct">Categoría</label>
              <select name="categoryProduct" id="categoryProduct">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Niños">Niños</option>
              </select>
            </div>
            <div>
              <label for="priceProduct">Ingresar precio</label>
              <input type="number" name="priceProduct" id="priceProduct">
            </div>
            

            <div class="register-button">
                <button type="submit">Crear</button>
            </div>

            <!-- <div class="register-button">
              <button type=""><a href="/products/">VOLVER</a></button>
            </div> -->

          </form>
        </div>

      </div>
    </main>

    <%- include ("../partials/footer.ejs") %> 

  </body>
</html>