<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>
    <main>
      <div class="principal-box">
        
        <div class="back-button">
          <button type=""><a href="/products?page=1">Atrás</a></button>
        </div>

        
        <div class="title">
          <h2 class="title-register">EDITAR PRODUCTO</h2>
          </div>

            <a href="/products/<%= product.id %>">
            <img
              class="imageProduct"
              src="/images/products/<%= product.image %>"
              alt="product-image.jpg"
            />
            </a>
    
            
            <div class="content-box-register">
              <form
                method="post"
                action="/products/<%=product.id %>/edit/?_method=PUT"
                enctype="multipart/form-data"
              >
                <div>
                  <label for="image">Modificar imagen</label>
                  <input type="file" name="image" id="image" />
                </div>
            <div>
              <label for="nameProduct">Modificar nombre</label>
              <input
                type="text"
                name="nameProduct"
                id="nameProduct"
                value="<%= product.name %>"
              />
            </div>
            <div class="desc-product">
              <label for="descProduct">Modificar descripción</label>
              <input
                type="text"
                name="descProduct"
                id="descProduct"
                value="<%= product.description %>"
              />
            </div>
              <div class="color-product">
              <label for="colorsProduct">Modificar color</label>
              <select name="color" id="color" >
                <% colors.forEach(color => { %>
                  <option value=<%= color.id %> <%= color.id == product.color_id ? "selected" : "" %>><%= color.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="size-product">
              <label for="sizeProduct">Modificar talle</label>
              <select name="sizeProduct" id="size">
                <% sizes.forEach(size => { %>
                  <option value=<%= size.id %> <%= size.id == product.size_id ? "selected" : "" %>><%= size.arg %></option>
                <% }) %>
              </select>
            </div>
            <div>
              <label for="priceProduct">Modificar precio</label>
              <input
                type="number"
                name="priceProduct"
                id="priceProduct"
                value="<%= product.price %>"
              />
            </div>
            <div class="brand-product">
              <label for="brandProduct">Modificar marca</label>
              <select name="brandProduct" id="brand">
                <% brands.forEach(brand => { %>
                  <option value=<%= brand.id %> <%= brand.id == product.brand_id ? "selected" : "" %>><%= brand.name %></option>
                <% }) %>
              </select>
            </div>
            <div>
              <div class="tag-product">
                <label for="tagProduct">Modificar tipo</label>
              
                <select name="tagProduct" id="tag">
                  <% tags.forEach(tag => { %>
                    <option value=<%= tag.id %> <%= tag.id == product.tag_id ? "selected" : "" %>><%= tag.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
        
      
      
        
            <div class="register-button">
              <button type="submit">Aplicar</button>
            
              <button type="submit">Limpiar</button>
            </div>
          
          </form>

      
    </main>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
