<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>
    <main>
      <div class="principal-box">
        
        <div class="back-button">
          <button type=""><a href="/products?page=1">Atrás</a></button>
        </div>

        
        <div class="title">
          <h2 class="title-register">EDITAR PRODUCTO</h2>
          </div>

            <a href="/products/<%= product.id %>">
            <img
              class="imageProduct"
              src="/images/products/<%= product.image %>"
              alt="product-image.jpg"
            />
            </a>
    
            
            <div class="content-box-register">
              <form id="formEditProduct"
                method="post"
                action="/products/<%=product.id %>/edit/?_method=PUT"
                enctype="multipart/form-data"
              >
                <div>
                  <label for="image">Modificar imagen</label>
                  <input type="file" name="image" id="image" />
                </div>

                <small class="text-errors imageError"></small>


            <div>
              <label for="name">Modificar nombre</label>
              <input
                type="text"
                name="name"
                id="name"
                value="<%= product.name %>"
              />
            </div>
           
                 <small class="text-errors nameProductError"></small>
                       
            
            <div class="desc-product">
              <label for="description">Modificar descripción</label>
              <input
                type="text"
                name="description"
                id="description"
                value="<%= product.description %>"
              />
            </div>

                
            <small class="text-errors descProductError"></small>

            <div class="color-product">
              <label for="color">Modificar color</label>
              <select name="color" id="color" >
                <% colors.forEach(color => { %>
                  <option value=<%= color.id %> <%= color.id == product.color_id ? "selected" : "" %>><%= color.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="size-product">
              <label for="size">Modificar talle</label>
              <select name="size" id="size">
                <% sizes.forEach(size => { %>
                  <option value=<%= size.id %> <%= size.id == product.size_id ? "selected" : "" %>><%= size.arg %></option>
                <% }) %>
              </select>
            </div>
            <div>
              <label for="price">Modificar precio</label>
              <input
                type="number"
                name="price"
                id="price"
                value="<%= product.price %>"
              />
              
            </div>
            
            <small class="text-errors priceError"></small>

            <div>
              <label for="discount">Modificar descuento</label>
              <input
                type="number"
                name="discount"
                id="discount"
                value="<%= product.discount %>"
              />
            </div>
 
            <small class="text-errors discountError"></small>

            <div class="brand-product">
              <label for="brand">Modificar marca</label>
              <select name="brand" id="brand">
                <% brands.forEach(brand => { %>
                  <option value=<%= brand.id %> <%= brand.id == product.brand_id ? "selected" : "" %>><%= brand.name %></option>
                <% }) %>
              </select>
            </div>
            <div>
              <div class="tag-product">
                <label for="tag">Modificar categoria</label>
              
                <select name="category" id="category">
                  <% categories.forEach(category => { %>
                    <option value=<%= category.id %> <%= category.id == product.category_id ? "selected" : "" %>><%= category.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div>
              <div class="tag-product">
                <label for="tag">Modificar tipo</label>
              
                <select name="tag" id="tag">
                  <% tags.forEach(tag => { %>
                    <option value=<%= tag.id %> <%= tag.id == product.tag_id ? "selected" : "" %>><%= tag.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="register-button">
              <button type="submit">Aplicar</button>
            
              <button type="submit">Limpiar</button>
            </div>
          
          </form>

      
    </main>
    <%- include ("../partials/footer.ejs") %>
    <script src = "/js/products/edit.js"></script></script>
  </body>
</html>
