<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>

      
      <div class="main-container">
        <div class="product-container">
          <img
          class="image"
          src="/images/products/<%= product.image %>"
          alt="product-image.jpg"
          />
          
          <div class="product-information">
            <!-- <p class="price">Precio: <%= product.price %></p>
             -->
            <div class="article-information-div">
                  <!-- <div class="article-logo-shipping"><i class="fa-solid fa-truck"></i></i></div> -->
                  
                  <p class="article-name"><%= product.name %></p>  
                  <% if (product.discount > 0) { %>
                      <div class = "discount">
                        <p class="article-price-discount">Antes $<%= product.price %>                     
                        <p  class="article-discount-shipping"><%= parseInt(product.discount) %>% OFF</p>
                      </div>
                  <% } %> 
                  <div class="article-price">
                    <% finalPrice = product.price - ((product.price* product.discount) / 100) %>
                    <p class="price">Precio: $ <%= finalPrice %>
                  </div>
        
            </div>
            <!-- <div class="icons">
              <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div> -->
            <button id="cart-button" class="add-cart-button" 
              data-id= <%= product.id %>
              data-name=<%=product.name%>
              data-image=<%=product.image%>
              data-price=<%=product.price - ((product.price* product.discount) / 100)%>>
              AÑADIR AL CARRITO
            </button> 
    
            
            <p class="category">Categoría: <%= product.category.name%></p>
            <p class="color">Color: <%= product.color.name %></p>
            <p class="size">Talle: <%= product.size.arg %>

            </p>
            <p class="size">Marca: <%= product.brand.name %></p>
            <!-- <p class="size">Tipo: <%= product.tag ? product.tag.name : "" %></p> -->

            <div class=" description desktop-description">
              <%= product.description %>
            </div>
          
            </div>
              <p class="description mobile-buttons">
               <%= product.description %>
             </p>
            </div>

    </main>

    <%- include ("../partials/footer.ejs") %>
    <script src="/js/cart/common.js"></script>
    <script src="/js/cart/productDetail.js"></script>
  </body>
</html>