<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>

      
      <div class="main-container">
        <div class="product-title">
          <button 
            onClick="location.href='/products?page=1'"
            type="submit"
            class="new-button"
          >
            Atras
          </button>

          <!-- <h4 class="name"><%= product.name %></h4> -->
        </div>
        <div class="product-container">
          <img
          class="image"
          src="/images/products/<%= product.image %>"
          alt="product-image.jpg"
          />

          <div class="product-information">
            <!-- <p class="price">Precio: <%= product.price %></p>
             -->
            <div class="article-information-div">
                  <p class="article-name"><%= product.name %></p>  
                  <!-- <% if (product.discount > 0) { %>
                      <div class = "discount">
                        <p class="article-price-discount"><%= product.price %>                     
                        <p  class="article-discount-shipping"> Desc.: <%= product.discount %>%</p>
                      </div>
                  <% } %> -->
            </div>
    
            <div class="text-property">
              <h3>Precio Bruto: </h3>
              <h4>$ <%= product.price %></h4>
            </div>
            <div class="text-property">
              <h3>Descuento: </h3>
              <h4><%= product.discount %>%</h4>
            </div>
            <div class="text-property">
              <h3>Precio Neto: </h3>
              <h4>$ <%= product.price - ((product.price* product.discount) / 100) %></h4>
            </div>
            <div class="text-property">
              <h3>Categoría: </h3>
              <h4><%= product.category.name %></h4>
            </div>
            <div class="text-property">
              <h3>Color: </h3>
              <h4><%= product.color.name %></h4>
            </div>
            <div class="text-property">
              <h3>Talle: </h3>
              <h4><%= product.size.arg %></h4>
            </div>
            <div class="text-property">
              <h3>Marca: </h3>
              <h4><%= product.brand.name %></h4>
            </div>
            <div class="text-property">
              <h3>Tipo: </h3>
              <h4><%= product.tag ? product.tag.name : "" %></h4>
            </div>
            <!-- <p class="category">Categoría: <%= product.category.name%></p>
            <p class="color">Color: <%= product.color.name %></p>
            <p class="size">Talle: <%= product.size.arg %></p>
            <p class="size">Marca: <%= product.brand.name %></p>
            <p class="size">Tipo: <%= product.tag ? product.tag.name : "" %></p> -->

            <div class=" description desktop-description">
              <%= product.description %>
            </div>
            <div class="detail-button desktop-buttons">
              <button type="submit">
                <a href="/products/<%= product.id %>/edit">Editar</a>
              </button>
    
              <button type="submit">
                <a href="/products/<%= product.id %>/delete">Eliminar</a>
              </button>
            </div>
          </div>
          
        </div>
        <p class="description mobile-buttons">
          <%= product.description %>
        </p>


        <div class="detail-button mobile-buttons">
          <button type="submit">
            <a href="/products/<%= product.id %>/edit">Editar</a>
          </button>

          <button type="submit">
            <a href="/products/<%= product.id %>/delete">Eliminar</a>
          </button>
        </div>

      </div>

    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>