<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>

      
      <div class="main-container">
        <div class="product-title">
          <button 
            onClick="location.href='/products?page=1'"
            type="submit"
            class="create-button"
          >
            Atras
          </button>

          <h4 class="name"><%= product.name %></h4>
        </div>
        <div class="product-container">
          <img
          class="image"
          src="/images/products/<%= product.image %>"
          alt="product-image.jpg"
          />

          <div class="product-information">
            <!-- <p class="price">Precio: <%= product.price %></p>
             -->
            <div class="article-information-div">
                  <!-- <div class="article-logo-shipping"><i class="fa-solid fa-truck"></i></i></div> -->
                  <p class="article-name"><%= product.name %></p>  
                  <% if (product.discount > 0) { %>
                      <div class = "discount">
                        <p class="article-price-discount"><%= product.price %>                     
                        <p  class="article-discount-shipping"> Desc.: <%= product.discount %>%</p>
                      </div>
                  <% } %>    

                  
                  <div class="article-price">
                    <!-- <p class="article-price-neto"><%= product.price %></p> -->
                    <% finalPrice = product.price - ((product.price* product.discount) / 100) %>
                    <!-- <p class="article-discount">$<%= product.price %></p> -->
                    <p class="price">Precio $:  <%= finalPrice %>
                 </div>
        
                </div>
    
            
            <p class="category">Categoría: <%= product.category.name%></p>
            <p class="color">Color: <%= product.color.name %></p>
            <p class="size">Talle: <%= product.size.arg %></p>
            <p class="size">Marca: <%= product.brand.name %></p>
            <p class="size">Tipo: <%= product.tag ? product.tag.name : "" %></p>

            <div class=" description desktop-description">
              <%= product.description %>
            </div>
            <div class="detail-button desktop-buttons">
              <button type="submit">
                <a href="/products/<%= product.id %>/edit">Editar</a>
              </button>
    
              <button type="submit">
                <a href="/products/<%= product.id %>/delete">Eliminar</a>
              </button>
            </div>
          </div>
          
        </div>
        <p class="description mobile-buttons">
          <%= product.description %>
        </p>


        <div class="detail-button mobile-buttons">
          <button type="submit">
            <a href="/products/<%= product.id %>/edit">Editar</a>
          </button>

          <button type="submit">
            <a href="/products/<%= product.id %>/delete">Eliminar</a>
          </button>
        </div>

      </div>

    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>