<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <section>
      <div class="banner-img">
        <a href="#"><img src="https://drive.google.com/uc?export=view&id=14fW3ydJX3ine0DGGQPrnTe6qv-oSJY0i" alt="" /></a>
        <a href="#"><img src="https://drive.google.com/uc?export=view&id=1mjwjvE9rmxUfKPHipiVjm1iBTRAWVGCo" alt="" /></a>
      </div>
    </section>

    <main>
      <section class="main-section">
        <h3 class="main-section-tittle">Todos Los Productos</h3>
        <div id="products">
        </div>
      </section>

      <section class="main-section">
        <h3 class="main-section-tittle">Los más vendidos</h3>
        <div class="products">
          <% newest_products.forEach(product => { %>
            <article class="main-article">
              <div class="article-image-container">
                <a href="/productDetail/<%= product.id %>"><img class="article-image" src="/images/products/<%= product.image %>" alt="" /></a>
                <!-- <div class="article-heart-shipping"><i class="fa-regular fa-heart"></i></i></div> -->
                
                <div class="article-information-div">
                  <!-- <div class="article-logo-shipping"><i class="fa-solid fa-truck"></i></i></div> -->
                  <p class="article-name"><%= product.name %></p>  
                  <% if (product.discount > 0) { %>
                    <h4  class="article-discount-shipping"> <%= parseInt(product.discount) %>%</h4>
                    <p class="article-price-neto"><%= product.price %></p>

                      <!-- <p class="article-price-neto"><%= product.price %>   -->
                  <% } %>    

                  
                  <div class="article-price">
                    <!-- <p class="article-price-neto"><%= product.price %></p> -->
                    <% finalPrice = product.price - ((product.price* product.discount) / 100) %>
                    <!-- <p class="article-discount">$<%= product.price %></p> -->
                    <p class="article-discount">$<%= finalPrice %>
                 </div>
                  <h4 class="article-description"><%= product.description %></h4>
                  <div class="article-animation-container">
                    <!-- <select class="product-size" name="size">
                      <option value="" disabled selected>Seleccione una talle</option>
                      <option value="1">37</option>
                      <option value="2">38</option>
                      <option value="2">39</option>
                    </select> -->


                    <!-- <button class="add-cart-button" >AÑADIR AL CARRITO</button> -->


                    <!-- <button onclick="addToCart(this)"
                      data-id="${product.id}"
                      data-name="${product.name}"
                      data-image="${product.image}"
                      data-price="${product.price}"
                      > Añadir al carrito 
                    </button> -->
                  </div>
                </div>
               
              </div>
            </article>
          <% }) %>
        </div>
  
      </section>
  
      <section class="main-section" >
        <h3 class="main-section-tittle">Recomendados para vos</h3>
        <div class="products">
          <% popular_products.forEach(product => { %>
            <article class="main-article">
              <div class="article-image-container">
                <a href="/productDetail/<%= product.id %>"><img class="article-image" src="/images/products/<%= product.image %>" alt="" /></a>
                <!-- <div class="article-heart-shipping"><i class="fa-regular fa-heart"></i></i></div> -->
                
                <div class="article-information-div">
                  <!-- <div class="article-logo-shipping"><i class="fa-solid fa-truck"></i></i></div> -->
                  <!-- <div class="cart-shipping"><i class="fa-solid fa-cart-shopping"></i></div> -->
                              
                  <p class="article-name"><%= product.name %></p>
                  <% if (product.discount > 0) { %>
                    <h4  class="article-discount-shipping"> <%= parseInt(product.discount) %>%</h4>
                    <p class="article-price-neto"><%= product.price %>
                  <% } %>
                 
                  <div class="article-price">
                    
                    <!-- <p class="article-price-neto"><%= product.price %></p>
                    <% finalPrice = product.price - ((product.price* product.discount) / 100) %> -->
                    <!-- <p class="article-discount">$<%= product.price %> -->
                    <p class="article-discount">$<%= finalPrice %>
                  </div>
                  <h4 class="article-description"><%= product.description %></h4>
                  <div class="article-animation-container">
                    <!-- <select class="product-size" name="size">
                      <option value="" disabled selected>Seleccione una talle</option>
                      <option value="1">37</option>
                      <option value="2">38</option>
                      <option value="2">39</option>
                    </select> -->

                    <!-- <button class="add-cart-button" >AÑADIR AL CARRITO</button> -->

                  </div>
                </div>
              </div>
            </article>
          <% }) %>
        </div>
      </section>

      <section class="main-section">
        <h3 class="main-section-tittle">Navega por marcas</h3>
        <div class="marcas">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw1c5d6f37/marcas/logonikeswoosh2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw005ac091/marcas/logoasics.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw4d2f38f7/marcas/logoadidasperformance.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwb1487def/marcas/logofila2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw999e12e7/marcas/logoreebok2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw9d1ee34d/marcas/logopuma2.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw197437c2/marcas/logounderarmour.png">
          <img class="component-image" src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw3e0d4b26/marcas/logolecoqsportif.png">

        </div>
      </section>

      <section>
        <div class="banner-img-2">
          <a href="#"><img src="https://drive.google.com/uc?export=view&id=1UeQmsg_jekeZQbUR_AkSK97yRvAVv48H" alt="" /></a>
        </div>
      </section>
  
    </main>

    <%- include('./partials/footer') %>
    <script src="/js/header.js"></script>
    <script src="/js/cart/common.js"></script>
    <script src="/js/cart/products.js"></script>
  </body>
</html>
