<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
  
    <%- include ("../partials/header.ejs") %> 

    <main>
        <div class="login-form">
          <h3 class="title-form">
            Iniciar Sesión
          </h3>
          <form id="form-login" action="/login" method="post">

            <div class="email-form">
              <label for="email">Email</label>
              <input type="text" name="email" id="useremail">
              <i class="fa-solid fa-envelope"></i>
              <% if (locals.errors && (errors.email || errors.password)) { %>
                <div class="text-danger">
                  <%= errors.email.msg %>
                </div>
              <% } %>
              <div class="text-danger emailError">
              </div>
            </div>

            <div class="password-form">
              <label for="username">Contraseña(mínimo 8 caracteres)</label>
              <input type="password" name="password" id="userpassword">
              <i class="fa-solid fa-lock"></i>
              <% if (locals.errors && errors.password) { %>
                <p class="text-errors"><%= errors.password.msg %></p>
              <% } %>
              <div class="text-danger passwordError">
              </div>
            </div>

            
          
            <!-- <label class="remember-me"><input type="checkbox" name="rememberme" id="rememberme>
              Recordarme  
            </label> -->
            <div class="remember-me">
              <input type="checkbox" name="rememberme" id="rememberme">
              <h4>Recuerdame</h4>
            </div>

            <div>
              <h4 class="no-account">¿No tienes cuenta aún?</h4>
              <a class="go-register" href="/users/register">Regístrate aquí</a>
            </div>

            <div class="login-button">
              <button type="submit">Ingresar</button>
            </div>

          </form>
          
        </div>
    </main>

    <%- include ("../partials/footer.ejs") %> 
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/users/login.js"></script>


  </body>
</html>