<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>
    <main>
  
      <div class="principal-box">

        <div class="title">
          <h2 class="title-register">EDITAR USUARIO</h2>
        </div>

        <div class="back-button">
          <button type=""><a href="/users">Atrás</a></button>
        </div>
        
        <a href="/users/<%= user.id %>">
          <img
          class="imageAvatar"
          src="/images/users/<%= user.image %>"
          alt="user-image.jpg"
          />
        </a>

        <div class="content-box-register">
          <form
            method="post"
            action="/users/<%=user.id %>/edit/?_method=PUT"
            enctype="multipart/form-data"
          >
            <div>
              <label for="firstName">Modificar nombre</label>
              <input
                type="text"
                name="firstName"
                value="<%= user.firstName %>"
                required />
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="lastName">
              <label for="lastName">Modificar apellido</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                value="<%= user.lastName %>"
                required />
                <i class="fa-solid fa-user"></i>
            </div>
            <div>
              <label for="image">Modificar imagen/avatar</label>
              <input class= "buttonImage" type="file" name="image" id="image"
              value="<%= user.image %>"  
              />

            </div>
            <div class="email">
              <label for="email">Modificar email</label>
              <input type="email" name="email" id="email" 
              value="<%= user.email %>"  
              required/>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="password">
              <label for="password">Modificar contraseña</label>
              <input type="password" name="password" id="password"
               value="<%= user.password %>"
               required/>
               <i class="fa-solid fa-lock"></i>
            </div>
            <div class="register-button">
              <button type="submit">Guardar</button>
            </div>

            <!-- <div class="register-button">
              <button type="submit">Limpiar</button>
            </div> -->
          </form>
        </div>
      </div>
    </main>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
