<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>
      <div class="product-title">
        <button onClick="location.href='/'" type="submit" class="btn-back">
          Atrás
        </button>
      </div>
      <div class="container">
        <div class="card">
          <img src="/images/users/<%= user.image %>" alt="Imagen de ejemplo">
          <div class="card-body">
            <h3 class="card-title"><%= user.firstName + ' ' + user.lastName %></h3>
            <div class="card-item">
              <h3>Email: </h3>
              <p class="card-text"><%= user.email %></p>
            </div>
            <div class="card-item">
              <h3>País: </h3>
              <p class="card-text"><%= user.country.name %></p>
            </div>
            
            <div class="buttons">
              <button class="btn" type="submit">
                <a href="/users/<%= user.id %>/editProfile">Editar</a>
              </button>
              <button class="btn" type="submit">
                <a href="/logout"><i class="fa-solid fa-right-to-bracket"></i> </a>
              </button>
            </div>

          </div>
        </div>
      </div>
    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>