<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    
    <%- include ("../partials/header.ejs") %>

    <main>
      <div class="principal-box">

        <div class="title">
            <h2 class="title-register">Registrarme</h2>
        </div>

        <div class="content-box-register">
          <form action="/users/register" method="post" enctype="multipart/form-data">
            <div>
              <label for="firstName">Nombre</label>
              <input type="text" name="firstName" id="username">
              <i class="fa-solid fa-user"></i>
              <% if(locals.errors && errors.firstName) { %>
                <p class="text-errors"><%= errors.firstName.msg %></p>
              <% } %>
            </div>
            <div>
              <label for="lastName">Apellido</label>
              <input type="text" name="lastName" id="lastName">
              <i class="fa-solid fa-user"></i>
              <% if(locals.errors && errors.lastName) { %>
                <p class="text-errors"><%= errors.lastName.msg %></p>
              <% } %>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" id="email">
              <i class="fa-solid fa-envelope"></i>
              <% if(locals.errors && errors.email) { %>
                <p class="text-errors"><%= errors.email.msg %></p>
              <% } %>
            </div>
            <div>
              <label for="password">Contraseña (mínimo 8 caracteres)</label>
              <input type="password" name="password" id="password">
              <i class="fa-solid fa-lock"></i>
              <% if (locals.errors && errors.password) { %>
                <p class="text-errors"><%= errors.password.msg %></p>
              <% } %>
            </div>
            <div>
              <label for="genre">Género</label>
              <select name="genre" placeholder="Seleccionar" id="genre">
                <option>Masculino</option>
                <option>Femenino</option>
                <option>Otros</option>
              </select>
            </div>

            <div class="terms-box">
                <label class="terms-box-label"><input type="checkbox" name="accepted-terms" value="">
                  Acepto las 
                  <a href="https:/www.google.com.ar"> Políticas de Privacidad y Términos y Condiciones</a>
                </label>
                <label class="terms-box-label"><input type="checkbox" name="accepted-promotions" value="">
                  Quiero recibir emails de promociones y noticias.  
                </label>
            </div>

            <div class="register-button">
                <button type="submit">Registrarse</button>
            </div>

          </form>
        </div>

      </div>
    </main>

    <%- include ("../partials/footer.ejs") %> 

  </body>
</html>