<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include ("../partials/header.ejs") %>

    <main>

      
      <div class="main-container">
        <div class="product-title">
          <button 
            onClick="location.href='/users?page=1'"
            type="submit"
            class="create-button"
          >
            Atrás
          </button>

          <h4 class="name"><%= user.firstName + " " + user.lastName %></h4>
        </div>
        <div class="product-container">
          <img
          class="image"
          src="/images/users/<%= user.image %>"
          alt="user-image.jpg"
          />

          <div class="product-information">
            
            <div class=" description desktop-description">
              <p><%= user.firstName + " " + user.lastName %></p>
              <%= user.email %>
              <p><%= user.role.name %></p>
              <p><%= user.country.name %></p>
            </div>
            <div class="detail-button desktop-buttons">
              <button type="submit">
                <a href="/users/<%= user.id %>/edit">Editar</a>
              </button>
    
              <button type="submit">
                <a href="/users/<%= user.id %>/delete">Eliminar</a>
              </button>
            </div>
          </div>
          
        </div>
        <p class="description mobile-buttons">
          <%= user.email %>
        </p>


        <div class="detail-button mobile-buttons">
          <button type="submit">
            <a href="/users/<%= user.id %>/edit">Editar</a>
          </button>

          <button type="submit">
            <a href="/users/<%= user.id %>/delete">Eliminar</a>
          </button>
        </div>

      </div>

    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>